[flake8]
exclude =
    # No need to traverse our git directory
    .git,
    # There's no value in checking cache directories
    __pycache__,
    # Tricky imports
    meiga/__init__.py,
    meiga/public_api.py,
    tests/unit/test_result_match.py # only available in Python 3.10 and above

max-line-length = 110

select = C,E,F,W,B,B950
ignore = E501, W503