black==22.3.0
flake8==5.0.4
isort[colors]==5.10.1
pre-commit==2.20.0
mypy==0.982
safety==2.3.1
pytest==7.2.0
pytest-cov==4.0.0
pytest-mock==3.10.0
pytest-env==0.8.1
pytest-variables[yaml]==2.0.0
pytest-clarity==1.0.1
hypothesis==6.56.3