black==22.3.0
flake8==5.0.3
isort[colors]==5.10.1
pre-commit==2.20.0
mypy==0.971
safety==1.10.3
pytest==7.1.2
pytest-cov==3.0.0
pytest-mock==3.7.0
pytest-env==0.6.2
pytest-variables[yaml]==2.0.0
pytest-clarity==1.0.1
hypothesis==6.54.1